<div class="container">
     <div class="text-center">
        <h1 class="bg-success">{{title}}</h1>
     </div>

     <div>
        <form role="form">
            <div class="panel">

                  <div class="panel-title">
                      <label for="exampleInputEmail1">sessionStorage</label>
                  </div>
                  <div class="panel-body">
                    <label>+1</label>
                    <button type="button" class="btn btn-success" ng-click="SS()">contador:</button>
                    <label>{{valor2}}</label>
                  </div>

                  <div class="panel-title">
                    <label for="exampleInputEmail1">localStorage</label>
                  </div>
                  <div class="panel-body">
                    <label>+1</label>
                    <button type="button" class="btn btn-success" ng-click="LS()">contador:</button>
                    <label>{{valor1}}</label>
                  </div>

            </div>
         </form>
       </div>
</div>
