<div class="container">
<nav class="navbar navbar-inverse" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a  href="#" class="navbar-brand">zendAR</a>
  </div>
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
       <div style="background-color: #17202a;" class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
           <li><a class="active">Fotos</a></li>
         </ul>

         <form class="navbar-form navbar-left" role="search">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Buscar">
             <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" title="Buscar"></span></button>
           </div>
         </form>
       </div>

</nav>
<div class="text-center">
  <h1>{{title}}</h1>
</div>
</div>
 <!-- <div class="footer-block bg-info text-center">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="copyright">
                            © 2017, Rhm80, All rights reserved
                        </div>
                    </div>
                </div>

 </div> -->
