<div class="container" ng-include="'vistas/barra-principal.html'"></div>
<div class="container">
    <div class="row">

         <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
           <img src="img/fondo2.jpg" class="img-responsive center-block">
         </div>

         <div class="text-center col-xs-12 col-sm-6 col-md-12 col-lg-12">
           <br>
             <div class="btn-group">
               <button id = "audioCapture" class="btn btn-md btn-info"><strong style="color:#101010;"><kbd>Audio</kbd></strong>
                   <span class="glyphicon glyphicon-volume-down"></span>
               </button>
               <button id = "imageCapture" class="btn btn-md btn-success"><strong style="color:#101010;"><kbd>Foto</kbd></strong>
                   <span class="glyphicon glyphicon-camera"></span>
               </button>
               <button id = "videoCapture" class="btn btn-md btn-info"><strong style="color:#101010;"><kbd>Video</kbd></strong>
                   <span class="glyphicon glyphicon-facetime-video"></span>
               </button>
             </div>
          </div>

      </div>
</div>
